<?php

/*
 * $prod_name - a string for this glosary name
 * $prod_ver - a string for the code version
 */
$prod_name = "The glosary for our team";
$prod_ver = "N.N";


/*
 * this variables defines the location of the glosary code
 * togheter with it's data
 */
$base_path = dirname(__FILE__);
$file_glossary = $base_path."/data/glosar.txt";
$file_history = $base_path."/data/history.txt";

/*
 * $username is the global variable hosting 
 * the name of the authenticated user
 *
 * This glosary relies on external authentication
 * Do your magic to get this variable from an external source.
 */
if (
    ( isset ( $_REQUEST['i18n_dev_wikiUserID'] )) &&
    ( isset ( $_REQUEST['i18n_dev_wikiUserName'] ))
    )  {
    $username = $_REQUEST['i18n_dev_wikiUserName'];
} else {
    $username = "";
}

# 0 - deny anonymous editing
# 1 - permit anonymous editing
$permit_anon_edit = 1;

?>